<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">姓名</span>
        </div>
        <input id="inputName" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">電話</span>
        </div>
        <input id="inputTel" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">地址</span>
        </div>
        <input id="inputadd" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">備註</span>
        </div>
        <input id="inputps" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-primary" (click)="button_click()">Save</button>
    </div>
  </div>
</div>