<div class="container">
  <div class="row">
    <div class="col-8">
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <input id="SearchInput" type="text" class="form-control" placeholder="">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="SearchClick()">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
      </table>
    </div>
  </div>
</div>