<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div style="margin-top:2cm" class="row">
        <div class="col-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">生日</span>
                </div>
                <input id="year" name="year" [(ngModel)]="year" style="text-align:center" type="text" class="form-control" aria-label="">
                <div class="input-group-append">
                    <span class="input-group-text">年</span>
                </div>
                <input id="month" name="month" [(ngModel)]="month" style="text-align:center" type="text" class="form-control" aria-label="">
                <div class="input-group-append">
                    <span class="input-group-text">月</span>
                </div>
                <input id="day" name="day" [(ngModel)]="day" style="text-align:center" type="text" class="form-control" aria-label="">
                <div class="input-group-append">
                    <span class="input-group-text">日</span>
                </div>
                <button id="search" type="button" class="btn btn-primary" (click)="buttonClick()">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">星座</span>
                </div>
                <input id="star" readonly style="text-align:center" type="text" class="form-control" aria-label="">
                <div class="input-group-append">
                    <span class="input-group-text">生命靈數</span>
                </div>
                <input id="number" readonly style="text-align:center" type="text" class="form-control" aria-label="">
            </div>
            <div>
                <input id="text" readonly style="text-align:center" type="text" class="form-control" aria-label="">
            </div>
        </div>
    </div>
</div>